@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dots {
    background-size: 20px 20px;
  }

  .comic-scroll::-webkit-scrollbar {
    width: 16px;
    border-left: 2px solid black;
    background: #f1f5f9;
  }
  .dark .comic-scroll::-webkit-scrollbar {
    background: #0f172a;
    border-left: 2px solid white;
  }
  .comic-scroll::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border: 2px solid black;
  }
  .comic-scroll::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
